@import '../../../variables.scss';
@mixin buttons() {
    background-size: cover;
    border-color: black;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.FriendOnline {
    display: flex;
    justify-content: space-between;
    img {
        height: 30px;
        width: 30px;
        clip-path: circle(43%);
        font-size: 7px;
    }
}
.FriendsList {
    margin: 4% 0 0 15%;
    width: 70%;
    height: 200px;
    padding: 10px;
}
.FriendsBox {
    background: linear-gradient(50deg,  #2d4957, #288ebc);
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}
.listFriends {
    overflow-y: scroll;
    height: 150px;
    padding: 5px 15px;
    margin: 10px 0;
}
.papa {
    background-image: url('./../../assets/Flags/papa.jpg');
    @include buttons();
}
.uniform {
    background-image: url('./../../assets/Flags/uniform.jpg');
    @include buttons();
}