@import '../../../variables.scss';

.LeaderBoard {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vh;
    width:35vw
}

.friendship-stats {
    height: 100%;
    width: 50%;
    background: red;
}

.game-stats {
    height: 100%;
    width: 50%;
    background: blue;
}