@import "../../../variables.scss";
.yeet:hover{cursor:pointer;}
.yeet  {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 10px;

  row-gap: 10px;

  justify-content: center;

  // width: 100px;

  // margin: auto auto;
}
.container {
  height: 70vh;
 
  padding: 20px;
  // color:red
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-auto-flow: row;
  z-index: 10;
}
#empty{
  background:blue
}
#sub{
  background: green;
}
#destroyer{
  background:orange
}
#cruiser{
  background:yellow
}
#battleship{
  background:palevioletred
}
#carrier{
  background:whitesmoke
}
#hit{
  background:rgb(201, 14, 14)
}
#miss{
  background: black
}




//   #container {
//     display: grid;
//     grid-gap:-20px;
//     grid-template-rows: repeat(var(--grid-rows), 1fr);
//     grid-template-columns: repeat(var(--grid-cols), 1fr);
//   }

// .cell {
//   border: 1.5px solid black;
//   min-width: 40px;
//   min-height: 40px;
//   display: inline-block;
//   margin-right: 10px;
// }

.instructions {
  background-image: url('../../assets/jamestown.jpg');
  height: 30px;
  width: 98.5%;
  margin: 5px 0 0 0;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  margin-left: 1.4vw;

  .shipset {
    background: chartreuse;
    height: 23px;
    margin: 3px 2px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0 5px;
  }
  .horizontal {
    height: 23px;
    margin: 3px 2px;
  }
  .type-of-ship {
    background: rgb(205, 230, 181);
    height: 23px;
    width: auto;
    margin: 3px 2px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carrier-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }
  .battleship-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #db7093;
  }
  .cruiser-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #ffff00;
  }
  .sub-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #008000;
  }
  .destroyer-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #ffa500;
  }
}
