@import "../../../variables.scss";
.yeet:hover{cursor:pointer;}
.yeet  {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 10px;

  row-gap: 10px;

  justify-content: center;

  border-radius: 5px;

  // width: 100px;

  // margin: auto auto;
}
.grid-names{
  color:whitesmoke;
  font-size: 30px;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  padding-left: 150px;
  

}
.container {
  height: 40vh;
  // margin-left: 200px;
  

 
  // padding: 20px;
  // color:red
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-auto-flow: row;
  z-index: 10;
}
#empty{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#sub{
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
}
#destroyer{
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
#cruiser{
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}
#battleship{
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

}
#carrier{
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
}
#hit{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  img {
    width: 70%;
    height: auto;
  }
}
#miss{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  img {
    width: 70%;
    height: auto;
  }
}




//   #container {
//     display: grid;
//     grid-gap:-20px;
//     grid-template-rows: repeat(var(--grid-rows), 1fr);
//     grid-template-columns: repeat(var(--grid-cols), 1fr);
//   }

// .cell {
//   border: 1.5px solid black;
//   min-width: 40px;
//   min-height: 40px;
//   display: inline-block;
//   margin-right: 10px;
// }



@mixin buttons() {
  background-size: cover;
  color: white;
  border-color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
.instructions {
  background-image: url('../../assets/jamestown.jpg');
  height: 30px;
  width: 98.5%;
  margin: 5px 0 0 0;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  margin-left: 1vw;
  justify-content: space-evenly;

  .shipset {
    background: #288ebc;
    height: 23px;
    margin: 3px 2px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: 'Staatliches', cursive;
      margin: 5px 0 0 0;
  }
  }
  .horizontal {
    height: 23px;
    margin: 3px 2px;
    background-image: url('./../../assets/Flags/echo.jpg');
    @include buttons();
  }
  .type-of-ship {
    background-color: #007ea7;
    background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
    height: 23px;
    width: auto;
    margin: 3px 2px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carrier-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
  }
  .battleship-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  }
  .cruiser-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  }
  .sub-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #378b29;
    background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
  }
  .destroyer-box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 2.5px;
    width: 10px;
    height: 10px;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  }
}









