@import '../../../variables.scss';

// .cell {
//     border: 1px solid gray;
//     min-width: 20px;
//     min-height: 20px;
//     display: inline-block;
//     margin-right: 2px;
//   }
.yeet:hover{cursor:pointer;}
.yeet  {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 10px;

  row-gap: 10px;

  justify-content: center;

  // width: 100px;

  // margin: auto auto;
}
.container {
  height: 70vh;
  // display: inline-grid ;
  // width: 40vw;

  // grid-template-rows: auto auto auto;

  // grid-template-columns: auto auto auto;
  // background-color: #2196F3;
  padding: 20px;
  // color:red
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-auto-flow: row;
}
#empty{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#sub{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#destroyer{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#cruiser{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#battleship{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#carrier{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
}
#hit{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  img {
    width: 70%;
    height: auto;
  }
}
#miss{
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  img {
    width: 70%;
    height: auto;
  }
}