@import '../../variables.scss';

.Home {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 1%;
    grid-column-gap: 5%;
    width: auto;
    height: 100vh;
    width: 100%;
    background-image: url('../assets//home.jpg');
    background-size: cover;
}