@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@mixin buttons() {
    background-size: cover;
    color: white;
    border-color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.input-titles {
    font-family: 'Staatliches', cursive;
    margin: 5px;
}
.login-inputs {
    margin: 5px;
}
.log {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.landing-box {
    display: flex;
    justify-content:space-between;
    align-items: center;
    .yankee-lander {
        background-image: url('./../assets/Flags/yankee.png');
        background-size: cover;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        border-color: black;
        height: auto;
        width: 90px;
    }
    .howto-lander {
        width: 100%;
        height: auto;
        padding: 100px;
    }
}
.login-box{
    background-color: #288dbc81;
    color: whitesmoke;
    height: 49vh;
    width: 25vw;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border-radius:5%;
    margin: 5% 5% 0 0; 
}
.backImg {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/barrage.jpg');
    background-size: cover;
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient(#fc1100, #eed755);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.star {
    i {
        font-size: 15px;
        background: -webkit-linear-gradient(#fc1100, #eed755);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            }

}
.lander-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}
.gameplay {
    background-color: #288dbc81;
    color: white;
    height: 49vh;
    width: 25vw;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border-radius:5%;
    margin: 5% 0 0 5%; 
}
.banner {
    display: flex;
    justify-content: center;
    h5 {
        background: #fc1100;
        width: 250px;
        height: 20px;
    }
    .left {
        height: 20px;
        width: 40px;
        background: linear-gradient(90deg, #fc1100, #eed755);
    }
    .right {
        height: 20px;
        width: 40px;
        background: linear-gradient(90deg, #eed755, #fc1100);
    }
}
.charley {
    background-image: url('./../assets/Flags/charley.png');
    @include buttons();
    margin: 0 2.5px;
}
.nov {
    background-image: url('./../assets/Flags/november.png');
    @include buttons();
    margin: 0 2.5px;
}
