@import '../../variables.scss';

.landing-box {
    align-items: center;
    display: flex;
    justify-content: center;
}
.login-box{
    color: whitesmoke;
    height: 49vh;
    width: 25vw;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    margin: auto auto;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border-radius:5%;
    margin-top:10vh;
}
.lander-container {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/barrage.jpg');
    background-size: cover;
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient(#fc1100, #eed755);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

