@import '../../variables.scss';

.Gameroom {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 1%;
    grid-column-gap: 5%;
    width: auto;    
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, lightgray, rgb(59, 56, 56));
}

.gameroom-blurred {
    animation-name: gameroom-blur;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    background-color: #ccc;
    cursor: default;
//     transition: filter 1s
}

@keyframes gameroom-blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        background-color: #ccc;
    }
    100% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        background-color: #ccc;
    }
}
.not-u-turn {
    position: absolute;
    background: violet;
    height: 35vh;
    width: 30vw;
    top: 40%;
    left: 35%;
    z-index: 5;
    background: linear-gradient(50deg, #288ebc, #2d4957);
    color: white;
    box-sizing: border-box;
    border: 1px solid black;
}








