@import '../../variables.scss';


.Gameroom {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    // justify-content: space-between;
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 1%;
    grid-column-gap: 5%;
    width: auto;    
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, lightgray, rgb(59, 56, 56));
}
.leaderd{
    display: flex;
    height: 10%;
    width: 30%;;
    // margin-right: 0px;
    // margin: auto auto;
    
}
.bigGrid{
    color: linear-gradient(50deg, lightgray, rgb(59, 56, 56));
    width: auto;    
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, lightgray, rgb(59, 56, 56));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.bigGrid > p {
    display: none;
}

.gameroom-blurred {
    animation-name: gameroom-blur;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    background-color: #ccc;
    cursor: default;
//     transition: filter 1s
}


@keyframes gameroom-blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        background-color: #ccc;
    }
    100% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        background-color: #ccc;
    }
}


.StartGameroom{
    width: auto;    
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, lightgray, rgb(59, 56, 56));
}
.yeet  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
    column-gap: 10px;
  
    row-gap: 10px;
  
    justify-content: center;
    z-index: 10;
  
    // width: 100px;
  
    // margin: auto auto;
  }

// @media (min-width:1441){
//     .Gameroom{

//     }
// }

