@import '../../variables.scss';

.Gameroom {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 1%;
    grid-column-gap: 5%;
    width: auto;    
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, lightgray, rgb(59, 56, 56));
}

.gameroom-blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
    cursor: default;
}
.not-u-turn {
    position: absolute;
    background: violet;
    height: 30vh;
    width: 30vw;
    top: 40%;
    left: 35%;
    z-index: 5;
    background: linear-gradient(50deg, #288ebc, #2d4957);
    color: white;
    box-sizing: border-box;
    border: 1px solid black;
}








$size: 100px;
.radar {
    background: url(https://gtms03.alicdn.com/tps/i3/TB1Vet9IVXXXXbuapXXb2YSIVXX-567-567.png) no-repeat 50% 50%;
    width: $size;
    height: $size;
    position: relative;
    background-size: $size $size;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -$size / 2;
    margin-top: -$size / 2;
}
.radar .pointer {
    position: absolute;
    z-index: 1024;
    left: 40.5820106%;
    top: 10.5820106%;
    bottom: 50%;
    will-change: transform;
    transform-origin: 50% 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-image: linear-gradient(135deg, 
        rgba(5, 162, 185, 0.8) 0%, 
    rgba(0, 0, 0, 0.02) 70%,
    rgba(0, 0, 0, 0) 100%
    );
    clip-path: polygon(100% 0, 
        100% 10%, 
        50% 100%, 0 100%, 0 0);
    
    animation: rotate360 3s infinite linear;
}

.shadow {
    position: absolute;
    left: 11%;
    top: 11%;
    right: 11%;
    bottom: 11%;
    margin: auto;
    border-radius: 9999px;
    box-shadow: 0 0 66px 6px #A51414;
    animation: shadow 1s infinite ease;
  }
  
  
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes shadow {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } 
  