@import './variables.scss';

.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-size: cover;
    background-image: url('../assets/jamestown.jpg');
}
