@import '../../variables.scss';

.HowTo {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('../assets//howto.jpg');
    .HowTo-button {
        background-image: url('../assets/Flags/echo.jpg');
        background-size: cover;
        color: white;
        border-color: black;
        // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
.container-howto {
    display: flex;
    justify-content: space-evenly;
}
.box-howto-1 {
    width: 35%;
    height: auto;
    background: rgba(128, 128, 128, 0.767);
    margin: 20px;
    padding: 10px;
}
.box-howto-2 {
    width: 35%;
    height: auto;
    background: rgba(128, 128, 128, 0.767);
    margin: 20px;
    padding: 10px;
}