@import '../../variables.scss';

.HowTo {
    background-image: url('../assets//howto.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.container-howto {
    display: flex;
    justify-content: space-evenly;
}
.box-howto-1 {
    width: 35%;
    height: auto;
    background: rgba(128, 128, 128, 0.767);
    margin: 20px;
    padding: 10px;
}
.box-howto-2 {
    width: 35%;
    height: auto;
    background: rgba(128, 128, 128, 0.767);
    margin: 20px;
    padding: 10px;
}